---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
components:
  - ../../components/common
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./coredns/install.yaml
  - ./descheduler/install.yaml
  - ./gateway-api-crds/install.yaml
  - ./metrics-server/install.yaml
  - ./reloader/install.yaml
