---
# yaml-language-server: $schema=https://homelab-schemas-epg.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      qbittorrent:
        containers:
          app:
            image:
              repository: ghcr.io/rogerfar/rdtclient
              tag: 2.0.121@sha256:55c9a7bae152cc0df6db17cc706c529351997228cd9599611d3f9960cb8ce452
            env:
              PUID: 1000
              PGID: 1000
              TZ: Europe/Paris
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: &port 6500
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 1Gi
    service:
      app:
        forceRename: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.nlecoy.fr"
          - qb.nlecoy.fr
        parentRefs:
          - name: envoy-internal
            namespace: networking
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      db:
        existingClaim: *app
        globalMounts:
          - path: /data/db
      media:
        type: nfs
        server: nas.internal
        path: /var/nfs/shared/media
      tmp:
        type: emptyDir
      run:
        type: emptyDir
        globalMounts:
          - path: /run
