---
# yaml-language-server: $schema=https://homelab-schemas-epg.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app babybuddy
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      babybuddy:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
            envFrom: &envFrom
              - secretRef:
                  name: babybuddy-secret
        containers:
          app:
            image:
              repository: linuxserver/babybuddy
              tag: 2.7.1@sha256:d64f4d342cc75536f099b19d3f3f8d3394bf94d03f8ab2672d449f03606b215b
            env:
              DEBUG: false
              PUID: 1000
              PGID: 1000
              TZ: Europe/Paris
            envFrom: *envFrom
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 8000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "baby.nlecoy.fr"
        parentRefs:
          - name: envoy
            namespace: networking
            sectionName: https
    persistence:
      config:
        type: emptyDir
      tmp:
        type: emptyDir
      run:
        type: emptyDir
        globalMounts:
          - path: /run
