---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
components:
  - ../../components/common
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./fluent-bit/install.yaml
  - ./gatus/install.yaml
  - ./grafana/install.yaml
  - ./karma/install.yaml
  - ./kromgo/install.yaml
  - ./kube-prometheus-stack/install.yaml
  - ./silence-operator/install.yaml
  - ./smartctl-exporter/install.yaml
  - ./victoria-logs/install.yaml
