---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
components:
  - ../../components/common
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./babybuddy/install.yaml
  - ./bazarr/install.yaml
  - ./flaresolverr/install.yaml
  - ./jellyfin/install.yaml
  - ./plex/install.yaml
  - ./prowlarr/install.yaml
  - ./qbittorrent/install.yaml
  - ./qui/install.yaml
  - ./radarr/install.yaml
  - ./recyclarr/install.yaml
  - ./seerr/install.yaml
  - ./sonarr/install.yaml
