---
# yaml-language-server: $schema=https://homelab-schemas-epg.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: oauth2-proxy
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: oauth2-proxy
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    config:
      existingSecret: oauth2-proxy-secrets
    extraArgs:
      cookie-domain: .nlecoy.fr
      cookie-expire: 48h
      cookie-refresh: 1h
      github-user: nlecoy
      http-address: "0.0.0.0:4180"
      pass-access-token: true
      pass-authorization-header: true
      pass-host-header: true
      pass-user-headers: true
      provider: github
      reverse-proxy: true
      set-xauthrequest: true
      upstream: file:///dev/null
      whitelist-domain: .nlecoy.fr
    ingress:
      enabled: true
      className: nginx
      hosts:
        - auth.nlecoy.fr
