---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: networking
components:
  - ../../components/alerts
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./cloudflare-dns/install.yaml
  - ./cloudflare-tunnel/install.yaml
  - ./echo/install.yaml
  - ./envoy-gateway/install.yaml
  - ./unifi-dns/install.yaml
