---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cihub
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: cihub-secret
    template:
      data:
        config.yaml: |-
          database:
            driver: sqlite
            datasource: data.db
            secret: {{ .CIHUB_DATABASE_SECRET }}
          logger:
            level: "info"
          metric:
            secret: {{ .CIHUB_METRIC_SECRET }}
          github:
            server: "https://github.com"
            api_server: "https://api.github.com"
            skip_verify: false
            app:
              name: {{ .CIHUB_GITHUB_APP_NAME }}
              integration_id: {{ .CIHUB_GITHUB_APP_ID }}
              webhook_secret: {{ .CIHUB_GITHUB_WEBHOOK_SECRET }}
              private_key: |
                {{ .CIHUB_GITHUB_APP_PRIVATE_KEY }}
            oauth:
              client_id: {{ .CIHUB_GITHUB_OAUTH_CLIENT_ID }}
              client_secret: {{ .CIHUB_GITHUB_OAUTH_CLIENT_SECRET }}
              scope:
                - "user:email"
          server:
            addr: ":8125"
          session:
            secret: {{ .CIHUB_SESSION_SECRET }}
            timeout: "720h"
            secure: true
          reaper:
            disabled: true
            interval: "30s"
            reclaim: "60s"

  dataFrom:
    - extract:
        key: cihub
