---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/helmrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: redis-cluster
spec:
  interval: 1h
  url: https://ot-container-kit.github.io/helm-charts/
---
# yaml-language-server: $schema=https://homelab-schemas-epg.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redis-cluster
spec:
  interval: 1h
  chart:
    spec:
      chart: redis-cluster
      version: 0.17.3
      sourceRef:
        kind: HelmRepository
        name: redis-cluster
      interval: 12h
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    redisCluster:
      clusterSize: 1
      persistenceEnabled: true
      leader:
        replicas: 1
      follower:
        replicas: 1
      resources:
        requests:
          cpu: 200m
        limits:
          memory: 256Mi
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: openebs-hostpath
          accessModes:
            - "ReadWriteOnce"
          resources:
            requests:
              storage: 1Gi
    redisExporter:
      enabled: true
    serviceMonitor:
      enabled: true
      namespace: databases
