---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      server:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18
            envFrom: &envFrom
              - secretRef:
                  name: immich-secret
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.4.1@sha256:e6a6298e67ae077808fdb7d8d5565955f60b0708191576143fc02d30ab1389d1
            env:
              DISABLE_REVERSE_GEOCODING: "true"
              ENABLE_MAPBOX: "false"
              IMMICH_MACHINE_LEARNING_URL: "false"
              LOG_LEVEL: verbose
              REDIS_DBINDEX: "1"
              REDIS_HOSTNAME: "dragonfly.databases.svc.cluster.local"
              REDIS_PORT: "6379"
              TZ: Europe/Paris
            envFrom: *envFrom
            resources:
              requests:
                cpu: 100m
                memory: 250Mi
              limits:
                memory: 1000Mi
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: &port 2283
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.nlecoy.fr"
          - "photos.nlecoy.fr"
        parentRefs:
          - name: envoy-internal
            namespace: networking
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      data:
        type: nfs
        server: nas.internal
        path: /var/nfs/shared/photos
        globalMounts:
          - path: /usr/src/app/upload
      initdb:
        type: configMap
        name: immich-initdb
        advancedMounts:
          server:
            init-db:
              - path: /initdb
