---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: tailscale-operator
  install:
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    oauthSecretVolume:
      secret:
        secretName: &secret tailscale-operator-secret
    operatorConfig:
      podAnnotations:
        secret.reloader.stakater.com/reload: *secret
